# PyCity School Analysis

DATA SUMMARY

The data is sorted by the top 5 highest performing schools (by highest overall passing rate). All schools are Charter schools, with small-medium school sizes, a per-student budget between $578-$638, and an overall passing rate of 90-91%.


The data is sorted by the bottom 5 performing schools (by lowest overall passing rate). All schools are District schools, with large school sizes, a per-student budget between $637-$655, and an overall passing rate of 52-53%.


The data is sorted by the average math score by grade, per school name. By school name, the average math grade from 9th-12th grade is consistent. 


The data is sorted by the average reading score by grade, per school name. By school name, the average reading grade from 9th-12th grade is consistent. 


The data is sorted by spending ranges per student. The overall spending range per student has the lowest overall passing rate, and vice versa.


The data is sorted by school size – small, medium, large – the small/medium school size has the highest overall percent passing, 89-90%. The large school size has the lowest overall percent passing, 58%.


The data is sorted by school type – charter, district – Charter schools have an overall percent passing of 90% and District schools have an overall passing of 53%.


CONCLUSIONS

Charter schools have a materially higher overall passing rate than district schools. This is likely due to the smaller school sizes (small/medium in size). The spending per student has little to no effect on the overall passing rate at charter schools. Charter schools spend slightly less per student than District schools but still have higher passing rates. 

Compared to Charter schools, district schools are larger in size (all large in size), spend more per student, and have the lowest overall passing rate.

The school type, charter vs district, is the most important factor when determining overall passing rates.

In [1]:
import pandas as pd 
from pathlib import Path

In [2]:
school_path = Path("Resources/schools_complete.csv")
student_path = Path("Resources/students_complete.csv")

In [3]:
school_data_df = pd.read_csv(school_path)
student_data_df = pd.read_csv(student_path)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
all_school_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
all_school_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
#all_school_df.columns

# District Summary

In [6]:
#school count
school_count = len(all_school_df["school_name"].unique())
print(school_count)

15

In [7]:
#total students
student_count = len(all_school_df["Student ID"].unique())
print(student_count)

39170

In [8]:
#budget total
budget_total = school_data_df["budget"].sum()
budget_total

24649428

In [9]:
#average math score
math_average = all_school_df["math_score"].mean()
math_average

78.98537145774827

In [10]:
#average reading score 
reading_average = all_school_df ["reading_score"].mean()
reading_average

81.87784018381414

In [11]:
#percent of students who passed math
math_pass_total = all_school_df[(all_school_df["math_score"] >= 70)].count()["student_name"]
math_pass_percent = math_pass_total / float(student_count) * 100
math_pass_percent

74.9808526933878

In [12]:
#percent of students who passed reading
reading_pass_total = all_school_df[(all_school_df["reading_score"] >= 70)].count()["student_name"]
reading_pass_percent = reading_pass_total / float(student_count) * 100
reading_pass_percent

85.80546336482001

In [13]:
#percent of students that passed math AND reading
math_reading_pass_total = all_school_df[
    (all_school_df["math_score"] >= 70) & (all_school_df["reading_score"] >= 70)].count()["student_name"]
overall_pass_rate = math_reading_pass_total / float(student_count) * 100
overall_pass_rate

65.17232575950983

In [14]:
#put the district summary into a DataFrame: "Total Schools", "Total Students",
#"Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading",
#"% Overall Passing"

district_summary = pd.DataFrame({"Total Schools": [school_count],
                                "Total Students": [student_count],
                                "Total Budget": [budget_total],
                                "Average Math Score": [math_average], 
                                "Average Reading Score": [reading_average],
                                "% Passing Math": [math_pass_percent],
                                "% Passing Reading": [reading_pass_percent],
                                "% Overall Passing": overall_pass_rate})
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [15]:
#all_school_df.columns

In [16]:
#school type
school_type = (school_data_df["type"])
school_type

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [17]:
#students per school
student_size = (school_data_df["size"])
student_size

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [18]:
#budget per school
budget_per_school = (school_data_df["budget"])
#budget_per_school

In [19]:
#budget per capita
budget_per_capita = budget_per_school / student_size
budget_per_capita

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [20]:
grouped_school_name = all_school_df.groupby(["School ID"])

In [21]:
grouped_school_name[["math_score"]].sum()

           math_score
School ID
0              223528
1              226223
2              146796
3              358238
4              122360
5              190115
6              154329
7              383393
8               35784
9               80654
10             150628
11             307294
12             366942
13             211184
14             136389

In [22]:
#average test score per school for MATH
#first find the total math score per school
math_average_school = grouped_school_name["math_score"].mean()
math_average_school

School ID
0     76.629414
1     76.711767
2     83.359455
3     77.289752
4     83.351499
5     83.274201
6     83.061895
7     77.048432
8     83.803279
9     83.839917
10    83.682222
11    76.842711
12    77.072464
13    77.102592
14    83.418349
Name: math_score, dtype: float64

In [23]:
#average test score per school for READING
grouped_school_name[["reading_score"]].sum()

           reading_score
School ID
0                 236810
1                 239335
2                 147441
3                 375131
4                 123043
5                 191748
6                 156027
7                 403225
8                  35789
9                  80851
10                151119
11                322898
12                385481
13                221164
14                137093

In [24]:
reading_average_school = grouped_school_name["reading_score"].mean()
reading_average_school

School ID
0     81.182722
1     81.158020
2     83.725724
3     80.934412
4     83.816757
5     83.989488
6     83.975780
7     81.033963
8     83.814988
9     84.044699
10    83.955000
11    80.744686
12    80.966394
13    80.746258
14    83.848930
Name: reading_score, dtype: float64

In [25]:
#students passing math by school
students_passing_math = all_school_df[(all_school_df["math_score"] >= 70)]
students_passing_math_school = students_passing_math.groupby(["School ID"]).size()
students_passing_math_school

School ID
0     1916
1     1946
2     1653
3     3094
4     1371
5     2143
6     1749
7     3318
8      395
9      910
10    1680
11    2654
12    3145
13    1871
14    1525
dtype: int64

In [26]:
per_school_passing_math = students_passing_math_school / student_size * 100
per_school_passing_math

School ID
0     65.683922
1     65.988471
2     93.867121
3     66.752967
4     93.392371
5     93.867718
6     94.133477
7     66.680064
8     92.505855
9     94.594595
10    93.333333
11    66.366592
12    66.057551
13    68.309602
14    93.272171
dtype: float64

In [27]:
#students passing reading by school
students_passing_reading = all_school_df[(all_school_df["reading_score"] >= 70)]
students_passing_reading_school = students_passing_reading.groupby(["School ID"]).size()
students_passing_reading_school

School ID
0     2372
1     2381
2     1688
3     3748
4     1426
5     2204
6     1803
7     4077
8      411
9      923
10    1739
11    3208
12    3867
13    2172
14    1591
dtype: int64

In [28]:
per_school_passing_reading = students_passing_reading_school / student_size * 100
per_school_passing_reading

School ID
0     81.316421
1     80.739234
2     95.854628
3     80.862999
4     97.138965
5     96.539641
6     97.039828
7     81.933280
8     96.252927
9     95.945946
10    96.611111
11    80.220055
12    81.222432
13    79.299014
14    97.308869
dtype: float64

In [29]:
#students passing math AND reading by school
students_passing_math_and_reading = all_school_df[(all_school_df["reading_score"] >= 70) & (all_school_df["math_score"] >= 70)]
students_passing_math_and_reading_school = students_passing_math_and_reading.groupby(["School ID"]).size()
students_passing_math_and_reading_school

School ID
0     1561
1     1569
2     1583
3     2481
4     1330
5     2068
6     1697
7     2719
8      381
9      871
10    1626
11    2119
12    2549
13    1487
14    1487
dtype: int64

In [30]:
#overall passing
overall_passing_rate = students_passing_math_and_reading_school / student_size * 100
overall_passing_rate

School ID
0     53.513884
1     53.204476
2     89.892107
3     53.527508
4     90.599455
5     90.582567
6     91.334769
7     54.642283
8     89.227166
9     90.540541
10    90.333333
11    52.988247
12    53.539172
13    54.289887
14    90.948012
dtype: float64

In [31]:
#NEED TO CREATE DATAFRAME - copied/pasted calcs above
#merge school_names and school_type DF
per_school_summary = pd.DataFrame({" ": ["Huang High School", "Figueroa High School", "Shelton High School",
                                         "Hernandez High School", "Griffin High School", "Wilson High School",
                                         "Cabrera High School", "Bailey High School", "Holden High School",
                                         "Pena High School", "Wright High School", "Rodriguez High School",
                                         "Johnson High School", "Ford High School", "Thomas High School"],
                                    "School Type": ["District", "District", "Charter", "District", "Charter", "Charter", 
                                                   "Charter", "District", "Charter", "Charter", "Charter", "District", 
                                                    "District", "District", "Charter"],
                                   "Total Students": [2917, 2949, 1761, 4635, 1468, 2283, 1858, 4976, 
                                                    427, 962, 1800, 3999, 4761, 2739, 1635],
                                   "Total School Budget": [1910635, 1884411, 1056600, 3022020, 917500, 1319574, 1081356,
                                                           3124928, 248087, 585858, 1049400, 2547363, 3094650, 1763916, 1043130],
                                   "Per Student Budget": [655.00, 639.00, 600.00,  652.00, 625.00, 578.00, 582.00, 628.00,
                                                          581.00, 609.00, 583.00, 637.00, 650.00, 644.00, 638.0],
                                   "Average Math Score": [76.629414, 76.711767, 83.359455, 77.289752, 83.351499, 83.274201,
                                                          83.061895, 77.048432, 83.803279, 83.839917, 83.682222, 76.842711,
                                                          77.072464, 77.102592, 83.418349],
                                   "Average Reading Score": [81.182722, 81.158020, 83.725724, 80.934412, 83.816757, 83.989488,
                                                             83.975780, 81.033963, 83.814988, 84.044699, 83.955000, 80.744686,
                                                             80.966394, 80.746258, 83.848930],
                                   "% Passing Math": [65.683922, 65.988471, 93.867121, 66.752967, 93.392371, 93.867718, 
                                                      94.133477, 66.680064, 92.505855, 94.594595, 93.333333, 66.366592,
                                                      66.057551, 68.309602, 93.272171],
                                   "% Passing Reading": [81.316421, 80.739234, 95.854628, 80.862999, 97.138965, 96.539641, 
                                                         97.039828, 81.933280, 96.252927, 95.945946, 96.611111, 80.220055, 
                                                         81.222432, 79.299014, 97.308869],
                                   "% Overall Passing": [53.513884, 53.204476, 89.892107, 53.527508, 90.599455, 90.582567, 
                                                         91.334769, 54.642283, 89.227166, 90.540541, 90.333333, 52.988247, 
                                                         53.539172, 54.289887, 90.948012]})

per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

#sort by school name A-Z
per_school_summary = per_school_summary.sort_values ([" "], ascending=True)
per_school_summary = per_school_summary.set_index(" ")
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [32]:
#per_school_summary = pd.DataFrame({"School Name": [school_name],
#                                   "School Type": [school_type],
#                                   "Total Students": [student_size],
#                                   "Total School Budget": [budget_per_school],
#                                   "Per Student Budget": [budget_per_capita],
#                                   "Average Math Score": [math_average_school],
#                                   "Average Reading Score": [reading_average_school],
#                                   "% Passing Math": [per_school_passing_math],
#                                   "% Passing Reading": [per_school_passing_reading],
#                                   "% Overall Passing": [overall_passing_rate]})

# Highest Performing Schools (by % Overall Passing)

In [33]:
#sort schools by % overall passing in ascending order and display top 5 rows
overall_passing = per_school_summary.sort_values (["% Overall Passing"], ascending=False)
overall_passing

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247

In [34]:
top_schools = overall_passing
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [35]:
#isinstance(top_schools,pd.DataFrame)

# Bottom Performing Schools (% Overall Passing)

In [36]:
overall_passing_bottom = per_school_summary.sort_values (["% Overall Passing"], ascending=True)
overall_passing_bottom

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769

In [37]:
bottom_schools = overall_passing_bottom
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [38]:
#isinstance(bottom_schools,pd.DataFrame)

# Math Scores by Grade

In [39]:
# Use the code provided to separate the data by grade
ninth_graders = all_school_df[(all_school_df["grade"] == "9th")]
tenth_graders = all_school_df[(all_school_df["grade"] == "10th")]
eleventh_graders = all_school_df[(all_school_df["grade"] == "11th")]
twelfth_graders = all_school_df[(all_school_df["grade"] == "12th")]

In [40]:
# Group by `school_name` and take the mean of the `math_score` column for each.

school_name_group_9 = ninth_graders.groupby(["school_name"])
nine_mean = school_name_group_9[["math_score"]].mean()

school_name_group_10 = tenth_graders.groupby(["school_name"])
ten_mean = school_name_group_10[["math_score"]].mean()

school_name_group_11 = eleventh_graders.groupby(["school_name"])
eleven_mean = school_name_group_11[["math_score"]].mean()

school_name_group_12 = twelfth_graders.groupby(["school_name"])
twelve_mean = school_name_group_12[["math_score"]].mean()

In [41]:
#combine ninth and tenth grade into one dataframe
math_scores_nine_ten_df = pd.merge(nine_mean, ten_mean, on="school_name")

In [42]:
#need to rename the x y math columns
nine_ten_column = {"math_score_x": "9th", "math_score_y": "10th"}
math_scores_nine_ten_df.rename(columns=nine_ten_column, inplace=True)

In [43]:
#combine 11th grade into the 9th/10th dataframe
math_scores_nine_ten_eleven_df = pd.merge(math_scores_nine_ten_df, eleven_mean, on="school_name")

In [44]:
#need to rename math_score to 11th
eleven_column = {"math_score" : "11th"}
math_scores_nine_ten_eleven_df.rename(columns=eleven_column, inplace=True)

In [45]:
#combine 12th grade into 9,10,11 dataframe
math_scores_by_grade = pd.merge(math_scores_nine_ten_eleven_df, twelve_mean, on="school_name")

In [46]:
#need to rename math_score to 12th
twelve_column = {"math_score" : "12th"}
math_scores_by_grade.rename(columns=twelve_column, inplace=True)

In [47]:
math_scores_by_grade.index.name = None
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Reading Scores by Grade

In [48]:
# Use the code provided to separate the data by grade
ninth_graders = all_school_df[(all_school_df["grade"] == "9th")]
tenth_graders = all_school_df[(all_school_df["grade"] == "10th")]
eleventh_graders = all_school_df[(all_school_df["grade"] == "11th")]
twelfth_graders = all_school_df[(all_school_df["grade"] == "12th")]

In [49]:
# Group by `school_name` and take the mean of the `reading_score` column for each.

school_name_group_9_read = ninth_graders.groupby(["school_name"])
nine_mean_read = school_name_group_9_read[["reading_score"]].mean()

school_name_group_10_read = tenth_graders.groupby(["school_name"])
ten_mean_read = school_name_group_10_read[["reading_score"]].mean()

school_name_group_11_read = eleventh_graders.groupby(["school_name"])
eleven_mean_read = school_name_group_11_read[["reading_score"]].mean()

school_name_group_12_read = twelfth_graders.groupby(["school_name"])
twelve_mean_read = school_name_group_12_read[["reading_score"]].mean()

In [50]:
#combine ninth and tenth grade into one dataframe
read_scores_nine_ten_df = pd.merge(nine_mean_read, ten_mean_read, on="school_name")

In [51]:
#need to rename the x y reading columns
nine_ten_column_read = {"reading_score_x": "9th", "reading_score_y": "10th"}
read_scores_nine_ten_df.rename(columns=nine_ten_column_read, inplace=True)

In [52]:
#combine 11th grade into the 9th/10th dataframe
read_scores_nine_ten_eleven_df = pd.merge(read_scores_nine_ten_df, eleven_mean_read, on="school_name")

In [53]:
#combine 12th grade into 9,10,11 dataframe
reading_scores_by_grade = pd.merge(read_scores_nine_ten_eleven_df, twelve_mean_read, on="school_name")

In [54]:
#need to rename the x y reading columns
ten_eleven_column_read = {"reading_score_x": "11th", "reading_score_y": "12th"}
reading_scores_by_grade.rename(columns=ten_eleven_column_read, inplace=True)

In [55]:
reading_scores_by_grade.index.name = None
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

# Scores by School Spending

In [56]:
# Establish the bins 
bins=[0, 585, 630, 645, 680]
labels=["<$585", "$585-630", "$630-645", "$645-680"]

In [57]:
#kept getting an error message because my per student budget was a string in the table....copied/renamed the school summary
#before formatting so "Per Student Budget" was no a string
per_school_summary2 = pd.DataFrame({" ": ["Huang High School", "Figueroa High School", "Shelton High School",
                                        "Hernandez High School", "Griffin High School", "Wilson High School",
                                        "Cabrera High School", "Bailey High School", "Holden High School",
                                        "Pena High School", "Wright High School", "Rodriguez High School",
                                        "Johnson High School", "Ford High School", "Thomas High School"],
                                   "School Type": ["District", "District", "Charter", "District", "Charter", "Charter", 
                                                   "Charter", "District", "Charter", "Charter", "Charter", "District", 
                                                   "District", "District", "Charter"],
                                  "Total Students": [2917, 2949, 1761, 4635, 1468, 2283, 1858, 4976, 
                                                   427, 962, 1800, 3999, 4761, 2739, 1635],
                                  "Total School Budget": [1910635, 1884411, 1056600, 3022020, 917500, 1319574, 1081356,
                                                          3124928, 248087, 585858, 1049400, 2547363, 3094650, 1763916, 1043130],
                                  "Per Student Budget": [655.00, 639.00, 600.00,  652.00, 625.00, 578.00, 582.00, 628.00,
                                                         581.00, 609.00, 583.00, 637.00, 650.00, 644.00, 638.0],
                                  "Average Math Score": [76.629414, 76.711767, 83.359455, 77.289752, 83.351499, 83.274201,
                                                         83.061895, 77.048432, 83.803279, 83.839917, 83.682222, 76.842711,
                                                         77.072464, 77.102592, 83.418349],
                                  "Average Reading Score": [81.182722, 81.158020, 83.725724, 80.934412, 83.816757, 83.989488,
                                                            83.975780, 81.033963, 83.814988, 84.044699, 83.955000, 80.744686,
                                                            80.966394, 80.746258, 83.848930],
                                  "% Passing Math": [65.683922, 65.988471, 93.867121, 66.752967, 93.392371, 93.867718, 
                                                     94.133477, 66.680064, 92.505855, 94.594595, 93.333333, 66.366592,
                                                     66.057551, 68.309602, 93.272171],
                                  "% Passing Reading": [81.316421, 80.739234, 95.854628, 80.862999, 97.138965, 96.539641, 
                                                        97.039828, 81.933280, 96.252927, 95.945946, 96.611111, 80.220055, 
                                                        81.222432, 79.299014, 97.308869],
                                  "% Overall Passing": [53.513884, 53.204476, 89.892107, 53.527508, 90.599455, 90.582567, 
                                                        91.334769, 54.642283, 89.227166, 90.540541, 90.333333, 52.988247, 
                                                        53.539172, 54.289887, 90.948012]})

In [58]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary2.copy()

In [59]:
#school_spending_df.columns

In [60]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins, labels=labels)
school_spending_df["Total School Budget"] = school_spending_df["Total School Budget"].map("${:,.2f}".format)
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].map("${:,.2f}".format)
school_spending_df = school_spending_df.sort_values ([" "], ascending=True)
school_spending_df = school_spending_df.set_index(" ")
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [61]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [62]:
#combine math and reading into one dataframe
math_reading_scores = pd.merge(spending_math_scores, spending_reading_scores, on="Spending Ranges (Per Student)")

In [63]:
#now add passing math into the above dataframe
math_reading_passing_math_scores = pd.merge(math_reading_scores, spending_passing_math, on="Spending Ranges (Per Student)")

In [64]:
#now add passing reading into the above dataframe
math_reading_passing_math_reading_scores = pd.merge(math_reading_passing_math_scores, spending_passing_reading, on="Spending Ranges (Per Student)")

In [65]:
#now add overall passing into the above dataframe
math_reading_passing_math_reading_scores = pd.merge(math_reading_passing_math_scores, spending_passing_reading, on="Spending Ranges (Per Student)")
spending_summary = pd.merge(math_reading_passing_math_reading_scores, overall_passing_spending, on="Spending Ranges (Per Student)" )
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418597
$630-645,78.518855,81.624473,73.484209,84.391793,62.857655
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

# Scores by School Size

In [66]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [67]:
scores_school_size = per_school_summary2.copy()

In [68]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
scores_school_size["School Size"] = pd.cut(scores_school_size ["Total Students"], size_bins, labels=labels)
scores_school_size["Total School Budget"] = scores_school_size["Total School Budget"].map("${:,.2f}".format)
scores_school_size["Per Student Budget"] = scores_school_size["Per Student Budget"].map("${:,.2f}".format)
scores_school_size = scores_school_size.sort_values ([" "], ascending=True)
scores_school_size = scores_school_size.set_index(" ")
scores_school_size

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [69]:
# Calculate averages for the desired columns. 
size_math_scores = scores_school_size.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = scores_school_size.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = scores_school_size.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = scores_school_size.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = scores_school_size.groupby(["School Size"])["% Overall Passing"].mean()

In [70]:
#combine math and reading into one dataframe
math_reading_size = pd.merge(size_math_scores, size_reading_scores, on="School Size")

In [71]:
#combine passing math into DF above
math_reading_pmath_size = pd.merge(math_reading_size, size_passing_math, on="School Size")

In [72]:
#combine passing reading into DF above
math_reading_pmath_pread_size = pd.merge(math_reading_pmath_size, size_passing_reading, on="School Size")

In [73]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.merge(math_reading_pmath_pread_size, size_overall_passing, on="School Size")
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929844,93.550225,96.099436,89.883854
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

# Scores by School Type

In [74]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary2.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary2.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary2.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary2.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary2.groupby(["School Type"])["% Overall Passing"].mean()

In [75]:
#combine math and reading into one dataframe
math_reading_type = pd.merge(average_math_score_by_type, average_reading_score_by_type, on="School Type")

In [76]:
#combine math passing with DF above
math_reading_mathp_type = pd.merge(math_reading_type, average_percent_passing_math_by_type, on="School Type")

In [77]:
#combine reading passing with DF above
math_reading_mathp_readp_type = pd.merge(math_reading_mathp_type, average_percent_passing_reading_by_type, on="School Type")

In [78]:
#combine overall with DF above
type_summary = pd.merge(math_reading_mathp_readp_type, average_percent_overall_passing_by_type, on="School Type")
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208