# PyCity School Analysis

Write analysis here....

In [1]:
import pandas as pd 
from pathlib import Path

In [2]:
school_path = Path("Resources/schools_complete.csv")
student_path = Path("Resources/students_complete.csv")

In [3]:
school_data_df = pd.read_csv(school_path)
student_data_df = pd.read_csv(student_path)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
all_school_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
all_school_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [5]:
all_school_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

# District Summary

In [6]:
#school count
school_count = len(all_school_df["school_name"].unique())
print(school_count)

15

In [7]:
#total students
student_count = len(all_school_df["Student ID"].unique())
print(student_count)

39170

In [8]:
#budget total
budget_total = school_data_df["budget"].sum()
budget_total

24649428

In [9]:
#average math score
math_average = all_school_df["math_score"].mean()
math_average

78.98537145774827

In [10]:
#average reading score 
reading_average = all_school_df ["reading_score"].mean()
reading_average

81.87784018381414

In [11]:
#percent of students who passed math
math_pass_total = all_school_df[(all_school_df["math_score"] >= 70)].count()["student_name"]
math_pass_percent = math_pass_total / float(student_count) * 100
math_pass_percent

74.9808526933878

In [12]:
#percent of students who passed reading
reading_pass_total = all_school_df[(all_school_df["reading_score"] >= 70)].count()["student_name"]
reading_pass_percent = reading_pass_total / float(student_count) * 100
reading_pass_percent

85.80546336482001

In [13]:
#percent of students that passed math AND reading
math_reading_pass_total = all_school_df[
    (all_school_df["math_score"] >= 70) & (all_school_df["reading_score"] >= 70)].count()["student_name"]
overall_pass_rate = math_reading_pass_total / float(student_count) * 100
overall_pass_rate

65.17232575950983

In [14]:
#put the district summary into a DataFrame: "Total Schools", "Total Students",
#"Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading",
#"% Overall Passing"

district_summary = pd.DataFrame({"Total Schools": [school_count],
                                "Total Students": [student_count],
                                "Total Budget": [budget_total],
                                "Average Math Score": [math_average], 
                                "Average Reading Score": [reading_average],
                                "% Passing Math": [math_pass_percent],
                                "% Passing Reading": [reading_pass_percent],
                                "% Overall Passing": overall_pass_rate})

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [15]:
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [16]:
#all_school_df.columns

In [17]:
#all_school_df

In [18]:
#school type
school_name = (school_data_df["school_name"])
#school_name

In [19]:
#school type
school_type = (school_data_df["type"])
#school_type

In [20]:
#students per school
student_size = (school_data_df["size"])
#student_size

In [21]:
#budget per school
budget_per_school = (school_data_df["budget"])
#budget_per_school

In [22]:
#budget per capita
budget_per_capita = budget_per_school / student_size
#budget_per_capita

In [23]:
grouped_school_name = all_school_df.groupby(["School ID"])

In [24]:
grouped_school_name[["math_score"]].sum()

           math_score
School ID
0              223528
1              226223
2              146796
3              358238
4              122360
5              190115
6              154329
7              383393
8               35784
9               80654
10             150628
11             307294
12             366942
13             211184
14             136389

In [25]:
#average test score per school for MATH
#first find the total math score per school

math_average_school = grouped_school_name["math_score"].mean()

In [26]:
#average test score per school for READING
grouped_school_name[["reading_score"]].sum()

           reading_score
School ID
0                 236810
1                 239335
2                 147441
3                 375131
4                 123043
5                 191748
6                 156027
7                 403225
8                  35789
9                  80851
10                151119
11                322898
12                385481
13                221164
14                137093

In [27]:
reading_average_school = grouped_school_name["reading_score"].mean()

In [28]:
#students passing math by school
students_passing_math = all_school_df[(all_school_df["math_score"] >= 70)]
students_passing_math_school = students_passing_math.groupby(["School ID"]).size()

In [29]:
per_school_passing_math = students_passing_math_school / student_size * 100

In [30]:
#students passing reading by school
students_passing_reading = all_school_df[(all_school_df["reading_score"] >= 70)]
students_passing_reading_school = students_passing_reading.groupby(["School ID"]).size()

In [31]:
per_school_passing_reading = students_passing_reading_school / student_size * 100

In [32]:
#students passing math AND reading by school
students_passing_math_and_reading = all_school_df[(all_school_df["reading_score"] >= 70) & (all_school_df["math_score"] >= 70)]

students_passing_math_and_reading_school = students_passing_math_and_reading.groupby(["School ID"]).size()

In [33]:
#overall passing
overall_passing_rate = students_passing_math_and_reading_school / student_size * 100

In [34]:
#NEED TO CREATE DATAFRAME

#merge school_names and school_type DF


per_school_summary = pd.DataFrame({" ": ["Huang High School", "Figueroa High School", "Shelton High School",
                                        "Hernandez High School", "Griffin High School", "Wilson High School",
                                        "Cabrera High School", "Bailey High School", "Holden High School",
                                        "Pena High School", "Wright High School", "Rodriguez High School",
                                        "Johnson High School", "Ford High School", "Thomas High School"],
                                   "School Type": ["District", "Distrtict", "Charter", "District", "Charter", "Charter", 
                                                   "Charter", "District", "Charter", "Charter", "Charter", "District", 
                                                   "District", "District", "Charter"],
                                  "Total Students": [2917, 2949, 1761, 4635, 1468, 2283, 1858, 4976, 
                                                   427, 962, 1800, 3999, 4761, 2739, 1635],
                                  "Total School Budget": [1910635, 1884411, 1056600, 3022020, 917500, 1319574, 1081356,
                                                          3124928, 248087, 585858, 1049400, 2547363, 3094650, 1763916, 1043130],
                                  "Per Student Budget": [655.00, 639.00, 600.00,  652.00, 625.00, 578.00, 582.00, 628.00,
                                                         581.00, 609.00, 583.00, 637.00, 650.00, 644.00, 638.0],
                                  "Average Math Score": [76.629414, 76.711767, 83.359455, 77.289752, 83.351499, 83.274201,
                                                         83.061895, 77.048432, 83.803279, 83.839917, 83.682222, 76.842711,
                                                         77.072464, 77.102592, 83.418349],
                                  "Average Reading Score": [81.182722, 81.158020, 83.725724, 80.934412, 83.816757, 83.989488,
                                                            83.975780, 81.033963, 83.814988, 84.044699, 83.955000, 80.744686,
                                                            80.966394, 80.746258, 83.848930],
                                  "% Passing Math": [65.683922, 65.988471, 93.867121, 66.752967, 93.392371, 93.867718, 
                                                     94.133477, 66.680064, 92.505855, 94.594595, 93.333333, 66.366592,
                                                     66.057551, 68.309602, 93.272171],
                                  "% Passing Reading": [81.316421, 80.739234, 95.854628, 80.862999, 97.138965, 96.539641, 
                                                        97.039828, 81.933280, 96.252927, 95.945946, 96.611111, 80.220055, 
                                                        81.222432, 79.299014, 97.308869],
                                  "% Overall Passing": [53.513884, 53.204476, 89.892107, 53.527508, 90.599455, 90.582567, 
                                                        91.334769, 54.642283, 89.227166, 90.540541, 90.333333, 52.988247, 
                                                        53.539172, 54.289887, 90.948012]})

per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

In [67]:
#sort by school name A-Z
final_school_summary = per_school_summary.sort_values ([" "], ascending=True)

In [68]:
school_summary = final_school_summary.reset_index(drop=True)
school_summary

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
1,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
2,Figueroa High School,Distrtict,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
3,Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
5,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
6,Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
7,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
8,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
10,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
11,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
12,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
13,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
14,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

# Highest Performing Schools (by % Overall Passing)

In [36]:
#sort schools by % overall passing in ascending order and display top 5 rows
overall_passing_top_5 = per_school_summary.sort_values (["% Overall Passing"], ascending=False)
overall_passing_top_5.head()

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
6,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
14,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [37]:
top_schools = pd.DataFrame({" ": ["Cabrera High School", "Thomas High School", "Griffin High School", "Wilson High School",
                                  "Pena High School"],
                           "School Type": ["Charter", "Charter", "Charter", "Charter", "Charter"],
                           "Total Students": [1858, 1635, 1468, 2283, 962],
                           "Total School Budget": [1081356, 1043130, 917500, 1319574, 585858],
                           "Per Student Budget": [582, 638, 625, 578, 609],
                           "Average Math Score": [83.061895, 83.418349, 83.351499, 83.274201, 83.839917],
                           "Average Reading Score": [83.975780, 83.848930, 83.816757, 83.989488, 84.044699],
                           "% Passing Math": [94.133477, 93.272171, 93.392371, 93.867718, 94.594595],
                           "% Passing Reading": [97.039828, 97.308869, 97.138965, 96.539641, 95.945946],
                           "% Overall Passing": [91.334769, 90.948012, 90.599455, 90.582567, 90.540541]})

top_schools["Total School Budget"] = top_schools["Total School Budget"].map("${:,.2f}".format)
top_schools["Per Student Budget"] = top_schools["Per Student Budget"].map("${:,.2f}".format)

top_schools

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
1,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
2,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
3,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
4,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

# Bottom Performing Schools (% Overall Passing)

In [38]:
overall_passing_bottom_5 = per_school_summary.sort_values (["% Overall Passing"], ascending=True)
overall_passing_bottom_5.head()

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
11,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
1,Figueroa High School,Distrtict,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
0,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
12,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [39]:
bottom_schools = pd.DataFrame({" ": ["Rodriguez High School", "Figueroa High School", "Huang High School", "Hernandez High School",
                                  "Johnson High School"],
                           "School Type": ["District", "District", "District", "District", "District"],
                           "Total Students": [3999, 2949, 2917, 4635, 4761],
                           "Total School Budget": [2547363, 1884411, 1910635, 3022020, 3094650],
                           "Per Student Budget": [637, 639, 655, 652, 650],
                           "Average Math Score": [76.842711, 76.711767, 76.629414, 77.289752, 77.072464],
                           "Average Reading Score": [80.744686, 81.158020, 81.182722, 80.934414, 803966394],
                           "% Passing Math": [66.366592, 65.988471, 65.683922, 66.752967, 66.057551],
                           "% Passing Reading": [80.220055, 80.739234, 81.316421, 80.862999, 81.222432],
                           "% Overall Passing": [52.988247, 53.204476, 53.513884, 53.527508, 53.539172]})

bottom_schools["Total School Budget"] = bottom_schools["Total School Budget"].map("${:,.2f}".format)
bottom_schools["Per Student Budget"] = bottom_schools["Per Student Budget"].map("${:,.2f}".format)

bottom_schools

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,8.074469e+01,66.366592,80.220055,52.988247
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,8.115802e+01,65.988471,80.739234,53.204476
2,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,8.118272e+01,65.683922,81.316421,53.513884
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,8.093441e+01,66.752967,80.862999,53.527508
4,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,8.039664e+08,66.057551,81.222432,53.539172

# Math Scores by Grade

In [40]:
# Use the code provided to separate the data by grade
ninth_graders = all_school_df[(all_school_df["grade"] == "9th")]
tenth_graders = all_school_df[(all_school_df["grade"] == "10th")]
eleventh_graders = all_school_df[(all_school_df["grade"] == "11th")]
twelfth_graders = all_school_df[(all_school_df["grade"] == "12th")]

In [41]:
# Group by `school_name` and take the mean of the `math_score` column for each.

school_name_group_9 = ninth_graders.groupby(["school_name"])
nine_mean = school_name_group_9[["math_score"]].mean()

school_name_group_10 = tenth_graders.groupby(["school_name"])
ten_mean = school_name_group_10[["math_score"]].mean()

school_name_group_11 = eleventh_graders.groupby(["school_name"])
eleven_mean = school_name_group_11[["math_score"]].mean()

school_name_group_12 = twelfth_graders.groupby(["school_name"])
twelve_mean = school_name_group_12[["math_score"]].mean()

In [42]:
#combine ninth and tenth grade into one dataframe
math_scores_nine_ten_df = pd.merge(nine_mean, ten_mean, on="school_name")

In [43]:
#need to rename the x y math columns
nine_ten_column = {"math_score_x": "9th", "math_score_y": "10th"}
math_scores_nine_ten_df.rename(columns=nine_ten_column, inplace=True)

In [44]:
#combine 11th grade into the 9th/10th dataframe
math_scores_nine_ten_eleven_df = pd.merge(math_scores_nine_ten_df, eleven_mean, on="school_name")

In [45]:
#need to rename math_score to 11th
eleven_column = {"math_score" : "11th"}
math_scores_nine_ten_eleven_df.rename(columns=eleven_column, inplace=True)

In [46]:
#combine 12th grade into 9,10,11 dataframe
math_scores_mean_all = pd.merge(math_scores_nine_ten_eleven_df, twelve_mean, on="school_name")

In [47]:
#need to rename math_score to 12th
twelve_column = {"math_score" : "12th"}
math_scores_mean_all.rename(columns=twelve_column, inplace=True)

In [48]:
math_scores_mean_all.index.name = None

In [49]:
math_scores_mean_all

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Reading Scores by Grade

In [50]:
# Use the code provided to separate the data by grade
ninth_graders = all_school_df[(all_school_df["grade"] == "9th")]
tenth_graders = all_school_df[(all_school_df["grade"] == "10th")]
eleventh_graders = all_school_df[(all_school_df["grade"] == "11th")]
twelfth_graders = all_school_df[(all_school_df["grade"] == "12th")]

In [51]:
# Group by `school_name` and take the mean of the `reading_score` column for each.

school_name_group_9_read = ninth_graders.groupby(["school_name"])
nine_mean_read = school_name_group_9_read[["reading_score"]].mean()

school_name_group_10_read = tenth_graders.groupby(["school_name"])
ten_mean_read = school_name_group_10_read[["reading_score"]].mean()

school_name_group_11_read = eleventh_graders.groupby(["school_name"])
eleven_mean_read = school_name_group_11_read[["reading_score"]].mean()

school_name_group_12_read = twelfth_graders.groupby(["school_name"])
twelve_mean_read = school_name_group_12_read[["reading_score"]].mean()

In [52]:
#combine ninth and tenth grade into one dataframe
read_scores_nine_ten_df = pd.merge(nine_mean_read, ten_mean_read, on="school_name")

In [53]:
#need to rename the x y reading columns
nine_ten_column_read = {"reading_score_x": "9th", "reading_score_y": "10th"}
read_scores_nine_ten_df.rename(columns=nine_ten_column_read, inplace=True)

In [54]:
#combine 11th grade into the 9th/10th dataframe
read_scores_nine_ten_eleven_df = pd.merge(read_scores_nine_ten_df, eleven_mean_read, on="school_name")

In [55]:
#combine 12th grade into 9,10,11 dataframe
read_scores_mean_all = pd.merge(read_scores_nine_ten_eleven_df, twelve_mean_read, on="school_name")

In [56]:
#need to rename the x y reading columns
ten_eleven_column_read = {"reading_score_x": "11th", "reading_score_y": "12th"}
read_scores_mean_all.rename(columns=ten_eleven_column_read, inplace=True)

In [57]:
read_scores_mean_all.index.name = None
read_scores_mean_all

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

# Scores by School Spending

In [58]:
# Establish the bins 
bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [59]:
#kept getting an error message because my per student budget was a string in the table....copied/renamed the school summary
#before formatting so "Per Student Budget" was no a string
per_school_summary2 = pd.DataFrame({" ": ["Huang High School", "Figueroa High School", "Shelton High School",
                                        "Hernandez High School", "Griffin High School", "Wilson High School",
                                        "Cabrera High School", "Bailey High School", "Holden High School",
                                        "Pena High School", "Wright High School", "Rodriguez High School",
                                        "Johnson High School", "Ford High School", "Thomas High School"],
                                   "School Type": ["District", "Distrtict", "Charter", "District", "Charter", "Charter", 
                                                   "Charter", "District", "Charter", "Charter", "Charter", "District", 
                                                   "District", "District", "Charter"],
                                  "Total Students": [2917, 2949, 1761, 4635, 1468, 2283, 1858, 4976, 
                                                   427, 962, 1800, 3999, 4761, 2739, 1635],
                                  "Total School Budget": [1910635, 1884411, 1056600, 3022020, 917500, 1319574, 1081356,
                                                          3124928, 248087, 585858, 1049400, 2547363, 3094650, 1763916, 1043130],
                                  "Per Student Budget": [655.00, 639.00, 600.00,  652.00, 625.00, 578.00, 582.00, 628.00,
                                                         581.00, 609.00, 583.00, 637.00, 650.00, 644.00, 638.0],
                                  "Average Math Score": [76.629414, 76.711767, 83.359455, 77.289752, 83.351499, 83.274201,
                                                         83.061895, 77.048432, 83.803279, 83.839917, 83.682222, 76.842711,
                                                         77.072464, 77.102592, 83.418349],
                                  "Average Reading Score": [81.182722, 81.158020, 83.725724, 80.934412, 83.816757, 83.989488,
                                                            83.975780, 81.033963, 83.814988, 84.044699, 83.955000, 80.744686,
                                                            80.966394, 80.746258, 83.848930],
                                  "% Passing Math": [65.683922, 65.988471, 93.867121, 66.752967, 93.392371, 93.867718, 
                                                     94.133477, 66.680064, 92.505855, 94.594595, 93.333333, 66.366592,
                                                     66.057551, 68.309602, 93.272171],
                                  "% Passing Reading": [81.316421, 80.739234, 95.854628, 80.862999, 97.138965, 96.539641, 
                                                        97.039828, 81.933280, 96.252927, 95.945946, 96.611111, 80.220055, 
                                                        81.222432, 79.299014, 97.308869],
                                  "% Overall Passing": [53.513884, 53.204476, 89.892107, 53.527508, 90.599455, 90.582567, 
                                                        91.334769, 54.642283, 89.227166, 90.540541, 90.333333, 52.988247, 
                                                        53.539172, 54.289887, 90.948012]})

In [60]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary2.copy()

In [61]:
school_spending_df.columns

Index([' ', 'School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', '% Overall Passing'],
      dtype='object')

In [62]:
#print(school_name)

In [63]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"],
                                                            bins, labels=labels)

school_spending_df["Total School Budget"] = school_spending_df["Total School Budget"].map("${:,.2f}".format)
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].map("${:,.2f}".format)

In [64]:
#sort by school name A-Z
school_spending_df_sorted = school_spending_df.sort_values ([" "], ascending=True)

In [65]:
school_spending_df_sorted = school_spending_df_sorted.reset_index(drop=True)
school_spending_df_sorted

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
0,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
1,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
2,Figueroa High School,Distrtict,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
3,Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
5,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
6,Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
7,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
8,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
10,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
11,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
12,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
13,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
14,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [82]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df_sorted.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df_sorted.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df_sorted.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df_sorted.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df_sorted.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [74]:
#combine math and reading into one dataframe
math_reading_scores = pd.merge(spending_math_scores, spending_reading_scores, on="Spending Ranges (Per Student)")

In [73]:
#now add passing math into the above dataframe
math_reading_passing_math_scores = pd.merge(math_reading_scores, spending_passing_math, on="Spending Ranges (Per Student)")

In [80]:
#now add passing reading into the above dataframe
math_reading_passing_math_reading_scores = pd.merge(math_reading_passing_math_scores, spending_passing_reading, on="Spending Ranges (Per Student)")

In [81]:
#now add overall passing into the above dataframe
math_reading_passing_math_reading_scores = pd.merge(math_reading_passing_math_scores, spending_passing_reading, on="Spending Ranges (Per Student)")
spending_summary = pd.merge(math_reading_passing_math_reading_scores, overall_passing_spending, on="Spending Ranges (Per Student)" )
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418597
$630-645,78.518855,81.624473,73.484209,84.391793,62.857655
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

# Scores by School Size

In [119]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [120]:
scores_school_size = per_school_summary2.copy()

In [121]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

scores_school_size["School Size"] = pd.cut(scores_school_size ["Total Students"], size_bins, labels=labels)
scores_school_size

scores_school_size["Total School Budget"] = scores_school_size["Total School Budget"].map("${:,.2f}".format)
scores_school_size["Per Student Budget"] = scores_school_size["Per Student Budget"].map("${:,.2f}".format)

In [122]:
#sort by school name A-Z
scores_school_size_sorted = scores_school_size.sort_values ([" "], ascending=True)

In [123]:
scores_school_size_sorted = scores_school_size_sorted.reset_index(drop=True)
scores_school_size_sorted

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
0,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
1,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
2,Figueroa High School,Distrtict,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
3,Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
5,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
6,Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
7,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
8,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
10,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
11,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
12,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
13,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
14,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [129]:
# Calculate averages for the desired columns. 
size_math_scores = scores_school_size_sorted.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = scores_school_size_sorted.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = scores_school_size_sorted.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = scores_school_size_sorted.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = scores_school_size_sorted.groupby(["School Size"])["% Overall Passing"].mean()

In [130]:
#combine math and reading into one dataframe
math_reading_size = pd.merge(size_math_scores, size_reading_scores, on="School Size")

In [131]:
#combine passing math into DF above
math_reading_pmath_size = pd.merge(math_reading_size, size_passing_math, on="School Size")

In [132]:
#combine passing reading into DF above
math_reading_pmath_pread_size = pd.merge(math_reading_pmath_size, size_passing_reading, on="School Size")

In [133]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.merge(math_reading_pmath_pread_size, size_overall_passing, on="School Size")
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929844,93.550225,96.099436,89.883854
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

# Scores by School Type